.app2 button {
  z-index: 10000;
  margin: 0 0 20px 40px;
  background-color: #b53890;
  color: #fff;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-radius: 5px;
  font-size: 30px;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.app2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main {
  display: flex;
  margin: -8px;
}
.app3 {
  margin-left: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15px;
  color: #b53890;
}
